* {
    box-sizing: border-box;
}
.container {
    border: 1px solid black;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    width: 500px;
    margin: 0 auto;
}
.select {
    flex-grow: 1;
    padding: .8rem;
}
input[type="text"] {
    border: none;
}
input[type="text"]:focus {
    outline-width: 0;
}
.barrier {
    margin: .3rem;
    font-size: 28px;
}
.submit {
    margin: .3rem;
    background-color: inherit;
    border: none;
}
.submit:hover {
    cursor: pointer;
}
.selected {
    padding: .2rem;
    margin: .2rem;
    border-radius: .3rem;
    background-color: rgba(211, 211, 211, 0.571);
}

.selected--delete {
    margin-left: .1rem;
    font-size: 12px;
}